@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html,
body {
    height: 100%;
}

body {
    color: #000000;
    font-family: "Open Sans";
    width: 100%;
}

::-moz-selection {
    background: #ea2c62;
    color: #fff;
}

::-webkit-selection {
    background: #ea2c62;
    color: #fff;
}

::selection {
    background: #ea2c62;
    color: #fff;
}

h3 {
    color: white;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about h2,
#services h2,
#meet-team h2,
#contact h2,
#home h3 {
    text-transform: uppercase;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    outline: 0 none !important;
}

/* Scroll bar design */
* {
    scrollbar-width: thin;
    scrollbar-color: black;
}
  
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: white;
}
  
*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
}
/* End scroll bar design */

/* Navigation bar */
.navbar-inverse {
    background-color: #000000;
    opacity: 0.3;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
}

.logo {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding-bottom: 6px;
    padding-right: 10px;
}

.navbar-inverse .navbar-nav li {
    margin-left: 15px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #fff;
    margin-bottom: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ea2c62;
    border-bottom: 3px solid #ea2c62;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

.navbar-inverse .navbar-nav > li > a:active {
    border-bottom: 3px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

.custom-menu li {
    font-size: 12px;
    padding: 0px 0px;
}

.navbar-inverse {
    border: none;
}

.navbar-brand .logo {
    margin-top: -5px;
    color: white;
    font-weight: 900;
}
/* End navigation bar */

/* Header section */
.home-inner {
    background-image: url(../images/background.jpg);
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.home-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0,0,0,0.7);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    text-transform: uppercase;
    color: white;
}

.caption .home-text {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    margin-top: 2rem;
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 2rem;
    border: 3px solid white;
}

a {
    color: #ea2c62;
    text-decoration: none;
}

/* End header section */

/* About section */
#about {
    padding: 80px 0px 40px 0px;
}

#about p {
    color: #313131;
    line-height: 1.8em;
    font-size: 14px;
}

/* End about section */

/* Service section */
.homeservices1 {
    padding-top: 40px;
    margin-bottom: 40px;
}

.homeservices1 a {
    color: #efefef;
}

.homeservices1 a:hover {
    color: #fff;
    text-decoration: none;
}

#services {
    padding-top: 60px;
}

#services p {
    color: #efefef;
    font-size: 13px;
    line-height: 1.5em;
}

#services img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#services img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

#services h2 {
    color: #fff;
}

.fa-lg {
    font-size: 70px;
    min-height: 150px;
}

.fa-lg:hover {
    font-size: 70px;
}

.fa-stack-1x {
    color: #efefef;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.fa-stack-1x:hover {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    zoom: 1.1;
    -ms-zoom: 1.1;
    -webkit-zoom: 1.1;
    -moz-transform: scale(1.1);
}

.fa-circle {
    color: transparent;
    border: 1px solid #efefef;
    border-radius: 50%;
}
/* End service section */

/* Team section */
#meet-team {
    padding-top: 80px;
    padding-bottom: 80px;
}

#meet-team ul {
    text-align: center;
}

#meet-team li {
    display: inline-block;
    margin-right: 24px;
    font-size: 18px;
}

.team-info h3 {
    color: #000000;
}

#meet-team .teamspace {
    margin-top: 30px;
}

#meet-team .team-img img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

#meet-team .team-img img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    cursor: pointer;
}
/* End team section */

/* Contact section */
#contact {
    padding-top: 80px;
}

.background {
    background-color: #16213e;
}


#contact {
    background-color: #16213e;
    color: #f7f7f7;
}

#contact .fa {
    padding-right: 31px;
    color: #ea2c62;
}

.height-contact-element {
    margin: 30px 0;
}

.custom-labels {
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
}

.color-elements {
    color: #fff;
}

#contactpage .form-control {
    color: #3d3d3d;
}

#contactpage h2 {
    margin: 40px 0;
}

.contact-msg {
    line-height: 1.6em;
    margin-bottom: 20px;
}

.btn-custom {
    width: 100%;
    background-color: #ea2c62;
    border: 1px solid #ea2c62;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-custom:hover {
    background-color: transparent;
    border: 1px solid #ea2c62;
    color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

select:focus {
    outline-color: transparent;
}

.form-control {
    color: #f7f7f7;
}

.form-control::-moz-placeholder {
    color: #f7f7f7;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #f7f7f7;
}

.form-control::-webkit-input-placeholder {
    color: #f7f7f7;
}

.form-control:focus {
    border-color: #ea2c62;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* End contact section */

/* Footer section */
footer {
    background-color: #1e1e1e;
    width: 100%;
    display: block;
    color: #f7f7f7;
}

span.text a {
    color: #fff;
}

span.text a:hover {
    text-decoration: underline;
}

#follow-us {
    height: 220px;
}

#footer {
    width: 100%;
    font-size: 14px;
    color: #1e1e1e;
    background-color: #16213e;
}

.social-icons {
    color: #313131;
    font-size: 24px;
    padding: 0;
}

.list-social-icons {
    display: inline-block;
    vertical-align: middle;
}

.list-social-icons li {
    margin: 0px 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.list-social-icons li:hover {
    background: #ea2c62;
}
.list-social-icons li:hover .social-icons {
    color: #f7f7f7;
}

.list-social-icons li:active .social-icons {
    background: #ea2c62;
}

.myfooter {
    color: white;
    font-size: 2rem;
    padding: 10px 0px;
    text-align: center!important;
}
/* End footer section */


/* Arrow toTop */
#toTop {
    position: fixed;
    bottom: 38px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.color1 {
    background-color: #16213e;
}

.color1:hover {
    background-color: #000000;
}
/* End arrow toTop */

/* Media queries for mobile */
@media only screen and (max-width: 767px) {
    .navbar-collapse {
        border: none;
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        border: none;
    }
    .navbar-inverse .navbar-nav > li {
        border-bottom: 1px solid #16213e;
    }
    .navbar-inverse .navbar-nav > li:hover {
        border-bottom: 1px solid #fff;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        transition-timing-function: ease;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #fff;
        border: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        font-size: 14px;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 13px;
        margin-right: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .searchbar {
        max-width: 100%;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #e6e6e6;
    }
}


@media only screen and (max-width: 767px) {
    .height-contact-element {
        margin: 25px 0;
    }
}

@media only screen and (max-width: 767px) {
    .padding-contact-element {
        padding-left: 15px;
    }
}

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-inverse .navbar-nav li {
        margin-right: 5px;
        margin-left: 5px;
    }
    .team-img img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .team-img img {
        width: 100%;
    }

    .navbar-inverse {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .h2,
    h2 {
        font-size: 20px;
    }

    #about {
        padding: 30px 0px 0 0px;
    }

    .form-control {
        font-size: 11px !important;
    }

    #contact .fa {
        padding-right: 15px;
    }

    #about p {
        font-size: 13px;
    }

    #services {
        padding-top: 15px;
    }

    .list-social-icons li {
        margin: 0px 5px;
    }

    #meet-team {
        padding-top: 10px;
    }
    
    #follow-us {
        height: 160px;
    }

    #contact {
        padding-top: 20px;
    }

    .col-lg-6.col-md-8 {
        padding: 0;
    }

    .height-contact-element {
        margin: 10px 0 0 0;
    }

    .h3,
    h3 {
        font-size: 18px;
    }
}
/* End media queries for mobile */